@import url(https://fonts.cdnfonts.com/css/inter);
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--black, #141414);
  font-family: Inter !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 212.523%; /* 34.004px */
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.btn.btn-success {
  background-color: #A6CD46;
}
.btn.btn-round {
  border-radius: 50px;
}

.block, .forms .sub-form-info, .forms .signing, .form-wrapper .agreement {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

label.form-validate-label {
  display: inline-flex;
  flex-direction: column;
}
label.form-validate-label.is-invalid input {
  border-color: #EB5757 !important;
}
label.form-validate-label.is-invalid .alert {
  display: inline-block;
  font-size: 0.8em;
}
label.form-validate-label.is-invalid .alert-danger {
  color: #EB5757;
}

* {
  font-family: Inter !important;
}

.alert.alert-danger {
  color: #EB5757;
}

header {
  height: 190px;
}
header .container {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1220px) {
  header .container {
    width: 100%;
  }
}
header .container .logo {
  float: left;
  position: absolute;
  left: 0;
}
header .container .title {
  text-align: center;
  color: #141414;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 860px) {
  header .container .title {
    margin-top: 100px;
  }
}

.form-wrapper {
  background-color: #FAFAFA;
  padding: 40px;
  max-width: 1220px;
  margin: 0 auto;
}
.form-wrapper .title {
  color: #fff;
  display: inline-flex;
  height: 54px;
  padding: 0 40px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #A6CD46;
}
@media (max-width: 860px) {
  .form-wrapper .title {
    line-height: 120%;
  }
}
.form-wrapper .agreement {
  margin-top: 40px;
}
.form-wrapper .agreement p {
  font-size: 16px;
}
.form-wrapper .agreement ol li {
  font-size: 16px;
}
.form-wrapper .agreement ol li .subject {
  font-weight: bold;
}
.form-wrapper .agreement input[type=text] {
  border-radius: 10px;
  border: 1px solid #989898;
  padding: 10px 30px;
  color: #9B9B9B;
}
.form-wrapper .agreement .noFiled {
  font-weight: bold;
  padding: 0 10px;
  text-decoration: underline;
}

.forms .signing {
  margin-top: 20px;
}
.forms .signing .subject {
  display: block;
  font-weight: bold;
}
.forms .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}
.forms .form-row label {
  margin-right: 80px;
}
@media (max-width: 1140px) {
  .forms .form-row label {
    width: calc(50% - 20px);
    margin: 10px 10px;
  }
}
@media (max-width: 920px) {
  .forms .form-row label {
    margin: 10px 10px;
    width: 100%;
  }
}
.forms .form-row label span {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 10px;
}
.forms .form-row label input {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #989898;
  color: #9B9B9B;
}
.forms .form-row.center {
  justify-content: space-around;
}
.forms .form-row .noFiled {
  padding: 10px 30px;
  color: #9B9B9B;
}
.forms .sub-form-info {
  margin-top: 20px;
}
.forms .sub-form-info .subject {
  display: block;
  font-weight: bold;
}

footer {
  height: 200px;
  margin-top: 100px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
